/* this is the layout of the grid container */
.container {
  display: grid;
  grid-template-areas:
    'header header header'
    'aside main main'
    'aside footer footer';
  grid-gap: 10px;
  background-color: darkorange;
  padding: 10px;
}

/* this is the styling of the grid container */
.container > div {
  text-align: center;
  padding: 20px 0;
  font-size: 30px;
  font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif
}

/* this is the individual styling of each block */
.item1 { 
    grid-area: header;
    background-color:pink;
 }

.item2 { 
    grid-area: aside;
    background-color: palevioletred;
 }

.item3 { 
    grid-area: main;
    background-color: plum;
 }

.item4 { 
    grid-area: footer;
    background-color: peachpuff;
 }

 
 @media (max-width: 768px) {
   .container {
     display: grid;
     grid-template-areas:
     'header header'
     'aside main' 
     'footer footer';
     grid-gap: 10px;
     background-color: darkorange;
     padding: 10px;
    }
    
  }
  
  
  @media (max-width: 320px) {
     .container {
         display: grid;
         grid-template-areas:
           'header'
           'aside' 
           'main' 
           'footer';
         grid-gap: 10px;
         background-color: darkorange;
         padding: 10px;
       }
 
  }